body {
    margin: 0;							/* Remove padding around divs */
    background-color: #E0E0E0;
    /*font-family: Verdana, sans-serif;	/* Sitewide font */
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#container {
	width: 940px;
	margin: 20px auto;
	background-color: white;
	border-radius: 15px;

	-webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
}

#container > div {
	padding: 5px;
}

#header {
	width: 930px;
	height: 160px;
	background-color: #007694;
	text-align: center;

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#header > h1 {
	padding-top: 42px;
}

#links {
	background: black;
	color: white;

	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #8F8F8F;

	text-align: center;
}

#links > ul {
	list-style-type: none;
}

#content {
	padding: 0px 13px 6px 13px !important;
}

#footer {
	background: black;
	color: white;

	border-top: 1px solid;
	border-color: #8F8F8F;

	text-align: center;

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#footer > p {
	margin: 5px;
}

/* Link coloration information */
a:link {
    color: #ffd700;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #ffd700;
}

a:hover {
    text-decoration: underline;
}