body {
	color: #353535;
    margin: 0;							/* Remove padding around divs */
    background-color: #F7F7F7;
    /*font-family: Verdana, sans-serif;	/* Sitewide font */
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/***************************************** HEADER *****************************************/

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	
	height: 20px;
	background-color: #535353;
	color: #F3F3F3;

	padding: 7px 7px 7px 20px;
}

#header #left {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px 15px 8px 8px;
}

#header a:link {
    color: #A5D0FF;
    text-decoration: none;
}

#header a:visited {
    text-decoration: none;
    color: #A5D0FF;
}

#header a:hover {
    text-decoration: underline;
}

/***************************************** NAV *****************************************/

#links {
	position: absolute;
	top: 34px;
	left: 0;
	bottom: 0;
	width: 150px;

	background-color: #535353;
	color: #F3F3F3;
}

#links > ul {
	list-style-type: none;
	margin: 10px 0 0 0;
	padding: 0;
}

#links a {
	display: block;
	padding: 10px;
}

#links a:link {
    color: #C4C4C4;
    text-decoration: none;
}

#links a:visited {
    text-decoration: none;
    color: #C4C4C4;
}

#links li:hover {
    background: #567ED5;
}

#links dl {
	margin: 0;
}

#links dt a {
    font-size: 0.9em;
    padding-left: 25px;
}

#links dt:hover {
    background: #567ED5;
}

/***************************************** CONTENT *****************************************/

#content {
	position: absolute;
	top: 34px;
	left: 150px;
	right: 0;
	bottom: 0;

	padding: 0px 18px 5px 18px;

	overflow-y: auto;
}

#content > h2 {
	padding-left: 35px;
}

#content > div {
	padding: 10px;
	border: 1px solid;
	border-color: #CFCFCF;
	background: #ECECEC;
	border-radius: 11px;
}

/***************************************** ADD PAGE *****************************************/

.addpage {
	margin: 10px;
	border: 0;
	border-radius: 5px;
}

#addpageform #title {
	font-size: 22px;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 5px;
	width: 95%;
}

.slightinputborder {
	border: 1px solid rgb(214, 214, 214) !important;
}

/***************************************** ERRORS *****************************************/

.error {
	color: red;
}

.success {
	color: green;
}

/***************************************** FONTS *****************************************/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(opensans400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(opensans700.woff) format('woff');
}