body {
	color: #353535;
    margin: 0;							/* Remove padding around divs */
    background-color: #E0E0E0;
    /*font-family: Verdana, sans-serif;	/* Sitewide font */
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#container {
	width: 355px;
	margin: 0 auto;
	margin-top: 150px;
	background-color: #FAFAFA;
	padding: 8px 25px 25px 25px;

	-webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.4);
	border-radius: 20px;
}

#container > h2 {
	text-align: center;
}

#container input {
	font-size: 24px;
	margin-bottom: 12px;
	width: 336px;
}

.error {
	color: red;
}

.success {
	color: green;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(opensans400.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(opensans700.woff) format('woff');
}