.themetable {
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.themetable table {
    border-collapse: collapse;
    text-align: left;
    width: 95%;
}

.themetable table td, .themetable table th {
    padding: 3px 10px;
}

.themetable table thead th {
    background: -webkit-gradient( linear,  left top,  left bottom,  color-stop(0.05,  #8C8C8C),  color-stop(1,  #7D7D7D) );
    background: -moz-linear-gradient( center top,  #8C8C8C 5%,  #7D7D7D 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C',  endColorstr='#7D7D7D');
    background-color: #8C8C8C;
    color: #FFFFFF;
    font-weight: bold;
}


.themetable table thead th:first-child {
    border: none;
}

.themetable table tbody td {
    color: #7D7D7D;
    font-weight: normal;
}

.themetable table tbody .alt td {
    background: #E7E7E7;
    color: #7D7D7D;
}

.themetable table tbody td:first-child {
    border-left: none;
}

.themetable table tbody tr:last-child td {
    border-bottom: none;
}